//Cores Primarias
*{
--brand-color-primary-pure: #465EFF;
--brand-color-primary-light: #C2D6FF;
--brand-color-primary-dark: #262E89;

--brand-color-secondary-pure: #FCFC30;
--brand-color-secondary-light: #FAFEC3;
--brand-color-secondary-dark: #C9A905;

--highlight-color: #54DCFC;

--neutral-color-lightest: #FAFAFA;
--neutral-color-lighter: #E4E4E7;
--neutral-color-light: #D4D4D8;
--neutral-color-medium: #71717B;
--neutral-color-dark: #3F3F46;
--neutral-color-darker: #27272A;
--neutral-color-darkest: #09090B;

--feedback-color-success: #23D80A;
--feedback-color-warning: #F99207;
--feedback-color-danger: #FF2E3B;
}