name: Deploy Backend to Azure Web App

on:
  push:
    paths:
      - 'backend/**'
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Instalar dependências e build
        working-directory: ./backend
        run: |
          npm install
          npm run build --if-present

      - name: Deploy no Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: brennandbb
          publish-profile: ${{ secrets.AZURE_BACKEND_PUBLISH_PROFILE }}
          package: ./backend
